// Styles for the table component
@media screen and (min-width: 768px) {

    /* Header  */

    /* Admin bar */
    .admin-bar {
        #wep_main {
            margin-top: 0;
        }
    }

    // HeadMenu
    #bvdt-navbar {
        width: 100%;
        height: inherit;
        padding: inherit;
    }

    /* Page Top Element not Fixed */
    .page_header {
        margin-top: 20px;
    }

    .wep_wrapper {
        border-top: solid 4px white;
        border-bottom: solid 1px #eee;
        background-color: white;

    }

    .wep_offcanvas_menu_tabs {
        display: none;
        visibility: hidden;
    }

    // Tablet with fixed header
    .header {

        &__row,
        &__tools {
            flex-direction: row-reverse;
            flex-wrap: nowrap;

            .wep_keyword_list {
                padding-left: 145px;
            }
        }

        .wep_header_middle {
            justify-content: flex-end !important;
        }
    }

    /* Search Box */
    .wep_search_box {
        padding: 0 15px;
        max-width: 50%;

        .bi-search {
            left: 20px;
        }
    }

    #bvdt-navbar {
        .navbar-nav {
            .nav-item {
                .icon_arrow {
                    display: inline-block;
                    padding: 0 2px;
                }
            }

            .dropdown-menu {
                .icon_arrow {
                    transform: rotate(-45deg);
                }
            }

            &>.nav-item {
                &>a {
                    text-transform: uppercase;
                }
            }
        }

        .dropdown-item {
            color: inherit;
        }
    }

    /* Home Banner */
    .wep_banner_benefits {
        position: relative;
        margin-top: -20px;
        flex-direction: row;
        justify-content: center;
        width: 96%;
        margin: auto;
        transform: translateY(-70px);
        margin-bottom: -70px !important;

        &__item {
            background: white;
            width: 33%;
            flex-basis: 33%;
            padding: 5px;

            &:last-child {
                .wep_banner_benefits__content {
                    border: none;
                }
            }
        }

        &__content {
            border-right: solid 2px #999;
            min-height: 70px;
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
        }
    }

    // Hero Banner
    .wep_banner_hero {
        padding: 15px 0;
    }

    // Banner Supports
    .wep_banner_supports {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        &__item {
            width: 32%;
            justify-content: center;
            margin-bottom: 0px;

            a {
                flex-direction: column;
            }
        }

        &__icon,
        &__text {
            display: block;
            text-align: center;
            width: 100%;
            flex-basis: 100%;
            font-size: 14px;
        }

    }

    // Select Device
    .wep_select_device {

        &__wrapper {
            padding: 5px;
        }

        &__item {
            font-size: 18px;
            font-weight: 500;
            padding: 15px;
            min-height: 160px;
        }

        &__thumb {
            display: block;
            max-width: 100px;
            max-height: 100px;
        }

        &__name {
            font-size: 16px;
        }

    }

    .wep_service_by_device {
        &__image {
            min-height: 150px;
        }

        &__item {
            min-height: 325px;
            display: flex;
            justify-content: space-between;
        }

        &__price {
            font-size: 15px;
        }
    }

    // Service by Device
    .wep_service_by_device {
        &__subcats {
            max-height: 388px;
            margin-top: 15px;
        }

        &__body {
            .col-md-3 {
                width: 20%;
            }

            .col-md-9 {
                width: 80%;
            }
        }
    }

    // Accessory
    .wep_accessory {

        &__wrapper {
            padding: 10px;
        }

        &__item {
            font-size: 18px;
            padding: 10px;
            min-height: 170px;
            align-content: center;
            height: auto;
        }

        &__name {
            bottom: 15px;
            width: 60%;
            max-width: 60%;
            padding-left: 10px;
        }

        &__thumb {
            display: block;
            max-width: 40%;
        }
    }

    // Category Product
    // Category Description
    .wep_category_service {
        &_sorting_bar {
            justify-content: flex-end;
        }
    }

    .wep_category_service_grid__quick_filter {
        display: none;
    }

    // Product Detail
    .wep_service {
        &__chatters {
            flex-direction: row;

            .btn {
                width: inherit;
            }

            .btn+.btn {
                margin-left: 10px;
            }
        }

        /* Attributes */
        &__attributes {
            &--color {
                &_item {
                    flex-direction: row;
                }
            }
        }

        &__title {

            .status,
            .store {
                display: inherit;
            }
        }

        /* Related */
        &__related {

            .wep_category_service_grid {
                height: auto;
                width: 100%;
            }
        }
    }

    // News
    .wep_content_html {

        /* List */
        ul,
        ol {
            padding-left: 18px;
        }
    }

    .wep_category_comments {
        .comment-content {
            margin-left: 60px;
        }

        .reply {
            padding-left: 60px;
        }
    }

    .wep_single {
        &__related {
            &_item {
                &_link {
                    max-height: 125px;
                }
            }
        }
    }

    // Footer
    .wep_footer_benefits {

        &__item {
            flex-direction: row;
            margin-bottom: 0;
        }

        &__content {
            width: calc(100% - 60px);
            flex-basis: calc(100% - 60px);
            text-align: left;
        }
    }
}