// Styles for the laptop component
@media screen and (min-width: 992px) {

    // Typography


    // Concept


    // Global


    // Header
    // Header Menu
    #bvdt-navbar {
        border: 1px solid transparent;
        transition: all 0.3s ease-in-out;
    }

    // Image Button
    .bvdt_start {
        img {
            margin-bottom: 0;
        }
    }

    .bvdt_headnav {
        .navbar-nav {
            margin-bottom: 0;
            align-items: center;

            .nav-link {
                padding-left: 13px;
                padding-right: 13px;
            }

            .nav-item {
                &::after {
                    position: relative;
                    bottom: 0;
                    top: inherit;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        &__right {
            .bvdt_button {
                margin-bottom: 0;
            }
        }

        .dropdown-menu[data-bs-popper] {
            margin-top: 0 !important;
        }

        .dropup,
        .dropend,
        .dropdown,
        .dropstart,
        .dropup-center,
        .dropdown-center {
            position: static !important;

            // Not have sub 3
            &.nav-item {
                &:not(:has(.level_3)) {
                    position: relative !important;
                }
            }
        }
    }

    // Mega Menu
    .dropdown-mega {

        width: 1050px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 15px;
        border: 1px solid rgba(0, 0, 0, 0.1);

        .container {
            max-width: 1040px;
        }

        .dropdown-list {
            .dropdown-item {
                width: 50% !important;
            }

            &.bvdt-100 {
                .dropdown-item {
                    width: 100% !important;
                }
            }

            &.bvdt-50 {
                .dropdown-item {
                    width: 50% !important;
                }
            }

            &.bvdt-30 {
                .dropdown-item {
                    width: 30% !important;
                }
            }

            &.bvdt-25 {
                .dropdown-item {
                    width: 25% !important;
                }
            }

            &.bvdt-20 {
                .dropdown-item {
                    width: 20% !important;
                }
            }

            &--w50 {
                display: flex;
                flex-wrap: wrap;

                .mega-group {
                    width: 50% !important;
                }
            }

            &--w100 {
                .dropdown-item {
                    width: 100% !important;

                    &::before {
                        content: url("../assets/images/icons/arrow-list.png");
                        display: inline-block;
                        position: relative;
                        margin-right: 5px;
                        ;
                        margin-bottom: 3px;
                    }
                }
            }
        }

        .dropdown-header {
            height: 30px;
        }
    }

    /* Goto Top */
    .wep_gotop {
        bottom: 10px;
    }

}